<!--begin footer -->
<footer id="footer" class="clearfix">
  <div class="container"><!--footer container-->
    
    
    <div class="row-fluid">
      <div class="span4">
        <section>
          <h4>Contact Me</h4>
          <p>Worli Police Camp,<br>
            Sarpoochkhanwala Road,<br>
            Mumbai - 400 030<br>
            Maharashtra, India<br>
            <strong>phone:</strong> <a href="tel:9769901512" class="tele">976.990.1512</a><br>
            <strong>email:</strong> <a href="mailto:aag1091@aag1091.com">aag1091@aag1091.com</a>
          </p>
        </section>
        <!--close section-->
        
        <section>
          <h4>Follow Me</h4>
          <ul class="social">
            <li><a class="socicon facebook" href="https://www.facebook.com/aag1091" title="Follow me on Facebook" target="_blank"></a></li>
            <li><a class="socicon twitterbird" href="https://twitter.com/aag1091" title="Follow me on Twitter" target="_blank"></a></li>
            <li><a class="socicon gplus-1" href="https://plus.google.com/u/2/109871357661371764892/posts/p/pub" title="Follow me on Google Plus" target="_blank"></a></li>
            <li><a class="socicon linkedin" href="http://www.linkedin.com/profile/view?id=64649038" title="Follow me on LinkedIn" target="_blank"></a></li>
            <li><a class="socicon github-circled" href="https://github.com/aag1091" title="Follow me on Github" target="_blank"></a></li>
            <li><a class="socicon stackoverflow" href="http://stackoverflow.com/users/2112184/avinash-gosavi" title="Follow me on Stackoverflow" target="_blank"></a></li>
          </ul>
        </section>
        <!--close section--> 
      </div>
      <!-- close .span4 --> 
      
      <!--section containing newsletter signup and recent images-->
      <div class="span4"> 
      </div>
      <!-- close .span4 --> 
      
      <!--section containing blog posts-->
      <div class="span4">
        <section>
          <h4>Latest Blog Posts</h4>
          <ul class="footerPosts">
            {% for post in site.posts limit:5 %}
              <li>
                <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
                <span class="meta">{{ post.date | date: "%B %d %Y" }}</span>
              </li>
            {% endfor %}
          </ul>
        </section>
      </div>
      <!-- close .span4 --> 
    </div>
    <!-- close .row-fluid--> 
  </div>
  <!-- close footer .container--> 
  
  <!--change this to your stuff-->
  <section class="footerCredits">
    <div class="container">
      <ul class="clearfix">
        <li>© 2013 My RoR Blog. Rights reserved with no one.</li>
      </ul>
    </div>
    <!--footerCredits container--> 
  </section>
  <!--close section--> 
</footer>
<!--/.footer--> 