<!-- begin accesibility skip to nav skip content -->
<ul class="visuallyhidden" id="top">
  <li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to navigation</a></li>
  <li><a href="#page" title="Skip to content" accesskey="c">Skip to content</a></li>
</ul>
<!-- end /.visuallyhidden accesibility--> 

<!-- mobile navigation trigger-->
<h5 class="mobile_nav"><a href="javascript:void(0)">&nbsp;<span></span></a></h5>
<!--end mobile navigation trigger-->

<section class="container preheader"> 
  
  <!--this is the login for the user-->
  <nav class="user clearfix"><a href="login.html"></a></nav>
  <!--close user nav-->
  <div class="phone"><a href="tel:9769901512" class="tele">976.990.1512</a></div>
  <ul class="social">
    <li><a class="socicon small facebook" href="https://www.facebook.com/aag1091" data-placement="bottom" title="Follow me on Facebook" target="_blank"></a></li>
    <li><a class="socicon small twitterbird" href="https://twitter.com/aag1091" data-placement="bottom" title="Follow me on Twitter" target="_blank"></a></li>
    <li><a class="socicon small gplus-1" href="https://plus.google.com/u/2/109871357661371764892/posts/p/pub" data-placement="bottom" title="Follow me on Google Plus" target="_blank"></a></li>
    <li><a class="socicon small linkedin" href="http://www.linkedin.com/profile/view?id=64649038" data-placement="bottom" title="Follow me on LinkedIn" target="_blank"></a></li>
    <li><a class="socicon small github-circled" href="https://github.com/aag1091" data-placement="bottom" title="Follow me on Github" target="_blank"></a></li>
    <li><a class="socicon small stackoverflow" href="http://stackoverflow.com/users/2112184/avinash-gosavi" data-placement="bottom" title="Follow me on Stackoverflow" target="_blank"></a></li>
    <!-- <li><a class="socicon small" href="#" data-placement="bottom" title=""></a></li> -->
  </ul>
</section>

<!-- begin .header-->
<header class="header  clearfix"> <img src="/images/print-logo.png" class="print logo" alt="name of company" />
  <div class="container"> 
    <div class="mobile-menu-holder"><!--clone menu here for mobile--></div>
    <!-- begin #main_menu -->
    <nav id="main_menu">
      <ul class="primary_menu">
        {% if page.active == "home" %}
          <li class="active"><a href="/">My Blog</a></li>
        {% else %}
          <li><a href="/">My Blog</a></li>
        {% endif %}
        {% if page.active == "about" %}
          <li class="active"><a href="/about.html">About Me</a></li>
        {% else %}
          <li><a href="/about.html">About Me</a></li>
        {% endif %}
        {% if page.active == "contact" %}
          <li class="active"><a href="/contact.html">Contact</a></li>
        {% else %}
          <li><a href="/contact.html">Contact</a></li>
        {% endif %}
        
      </ul>
    </nav>
    <!-- close / #main_menu --> 
    
    <!-- begin #logo -->
    <div>
      <a href="index.html"></a>
    </div>
    <!-- end #logo --> 
    
  </div>
  <!-- close / .container--> 
</header>
<!-- close /.header -->